/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #003D25;
  --white: #fff;
  --yellow: #BFCC7C;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 75vh;
  overflow-x: hidden;
  background: var(--yellow);
}
/*---global end--*/
.container {
  position: relative;
  width: 1000px;
  height: 600px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 40px;
}
/*detail part--*/
.tb{
    height:300px;
    width:900px;
    margin-left: 25px;
    margin-top: 80px;
    opacity:0.7;
    border-radius: 20px;
}
table {
  border-collapse: collapse;
  width: 100%;
    opacity:0.7;
    border-radius: 20px;
  
}
th{
  color: #222;
}

th, td {
  text-align: left;
  padding: 8px;
  cursor: pointer;
 
}

tr:nth-child(even) {
  background-color: #BFCC7C;
}
.title{
 
 text-align: center;
 padding: 20px;
 padding-bottom: 5px;
 color: #003D25;
}
.status {
    display: flex;
  }

  .number {
    margin-top: 15px;
    margin-left: 10px;
  }

  .number button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #003D25;
    color: white;
    font-size: 30px;
    font-weight: 900;
    overflow: hidden;
  }
  .text{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 25px;
    color: #555;
   
  
  }