 /* =========== Google Fonts ============ */
 @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

 /* =============== Globals ============== */
 * {
   font-family: "Ubuntu", sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 :root {
   --green: #003D25;
   --white: #fff;
   --yellow: #BFCC7C;
   --gray: #f5f5f5;
   --black1: #222;
   --black2: #999;
 }
 
 body {
   min-height: 75vh;
   overflow-x: hidden;
   background:#d6d4cb;
 }



 

  
 

  
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 20px;
    margin-left: 350px;
    width: 800px;
    height: 620px;
    margin-top: 45px;
    
    
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }

  h3{
    font-size: 30px;
    color: #003D25;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 50px;
  }
  
  
  
  .container button{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #003D25;
    color: white;
    font-size: 20px;
    font-weight: 900;
    overflow: hidden;
    justify-content: center;
    margin-left: 300px;
    position: absolute;
    
      
  }

  
  
  
  
  
  
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    
  }