

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  /* Blue */
  .info {
    border-color: #b5c373;
    color: rgb(7, 83, 68);
    background-color: #204608 !important;
  }
  
  .info:hover {
    background: #414e06;
    color: white;
  }

.upper-section{
  background-color: rgb(196, 240, 121);
  margin-top:10px;
}


table {
  margin-top: 0px;
  width: 100%; 
  border: none;
}

.move-content{
  margin-left:40px;
}

/* =========================wrapping profile pic and table=====================*/
.container {
  display: flex; /* Use flexbox to arrange elements horizontally */
  align-items: center; /* Vertically center-align elements */
  margin-left: 70px;
  margin-top:0px;

}

.profile {
  flex: 1; /* Let the profile picture take 1/4 of the available space */
  text-align: center;
}

.profile-info {
  flex: 3; /* Let the profile information take 3/4 of the available space */
  
}


/* =========================edit button on pic=====================*/

.container-image {
  position: relative;
  width: 100%;
  max-width: 300px;
  border:white;
  margin-top:100px;
}

.container-image img {
  width: 100%;
  height: auto;
}

.container-image .btn {
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-90%, -90%);
  -ms-transform: translate(-90%, -90%);
  width: 30px; 
  height: 30px; 
  background: url(edit.jpg) no-repeat;
  background-size: cover; 
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
 
}

.container-image .btn:hover {
  background-color: white;
}

/*here starts the styling for purchses table*/
table.purchases {
  border-collapse: collapse;
  width: 100%;
 margin-left:40px;
 margin-right:40px;
}

table.purchases th,
table.purchases td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table.purchases tr.no-hover:hover {
  background-color: transparent !important;
}

table.purchases tr:hover {
  background-color: #12a22cc5;
}

table.purchases .button {
  background-color: #82c777c3;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px;
  cursor: pointer;
}

table.purchases .button1 {
  font-size: 12px;
}
/*trying to put scroll bar*/
.table-container{
  max-height: 100px; 
 
}

table.purchases thead {
  position: sticky;
  top: 0;
  }


table.purchases tbody {
  
  overflow-y: scroll; 
  overflow-x: hidden; 
}

/*see to the scroll bar scene */