:root{
	--darkgreen:#0f2a15;
	--blue:#3b6836;
	--white:#fff;
	--light:#dfebe4;
    --black: #020503;
    --purple:#327028;
    --red:#c0392b;
    --orange:#f39c12;
    --black:#333;
    --whitee:#f3f0c1 ;
    --light-color:#666;
    --light-white:#fffefe;
    --light-bg:#d6d4cb;
    --brown: #aca276;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}


*{
  font-family: 'Rubik', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  transition:all .2s linear;
}
body{
  overflow-x: hidden;
  background-color: #b4ae85;
}
.btn,
.white-btn{
  display: inline-block;
  margin-top: 1rem;
  padding:1rem 3rem;
  cursor: pointer;
  color:var(--white);
  font-size: 1.8rem;
  border-radius: .5rem;
  text-transform: capitalize;
  background-color: #3E8A62;
}

.btn:hover{
  background-color: var(--black);
}

.white-btn:hover{
  background-color: var(--white);
  color:var(--black);
}

@keyframes fadeIn {
  0%{
     transform: translateY(1rem);
     opacity: .2s;
  }
}


.header  {
  overflow: hidden;
  background-color: #eef0b9;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;}

.header  .flex{
  padding:0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin:0 auto;
  position: relative;
}


.header  .flex p{
  font-size: 2rem;
  color:var(--light-color);
}

.header  .flex p a{
     display: inline-block;
     margin-top: 0rem;
     padding:1rem 2rem;
     cursor: pointer;
     color:#eef0b9;
     font-size: 1.5rem;
     border-radius: .5rem;
     background-color: #3E8A62;
  
  
}

.header  .flex p a:hover{
  text-decoration: underline;
  background-color: #333;
}

.header .flex .navbar a{
  margin:0 1rem;
  font-size: 1.3rem;
  color:var(--light-color);
}

.header  .flex2 a{
  margin:0 1rem;
}

.header .flex .navbar a:hover{
  color:var(--purple);
  text-decoration: underline;
}


.col-3{width: 5%; float: left;}
.col-8{width: 10%; float: left;}
.col-1{width: 30%; float: right;}
.col-4{width: 33.3%; float: left;}
.col-2{width: 5%; float: right;}
.col-7{width: 8%; float: right;}
.col-6{width: 50%; float:right;}
.col-5{width: 70%; float: left;}
.container{width: 1200px; margin: 0 auto; max-width: 100%;}
.clearfix{clear: both;}
.banner{background: var(--whitee); max-width: 100%;
    background-repeat: no-repeat; background-size: 627px;}
.ban{
  background: #b4ae85;
}
.logo{color: var(--white); font-weight: 500; padding:25px;}

.banner-img{width:100%; margin-bottom:-4px; }
.content{padding-top: 100px; padding-left: 100px;}

.heading{font-size: 80px; color: var(--darkgreen); font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}


.p1{
	color: var(--white);
    letter-spacing: 1px;
    width: 500px;
    line-height: 22px;
    font-size: 14px;
    margin-top: 15px;
}
.icon{width: 30px;
    background: #b5b5b561;
    padding: 10px;
    border-radius: 10px;
	margin-right: 30px;}
.heading-2{color: var(--darkgreen);text-align: center;}
.im{padding: 50px;
    width: 750px;
    height:550px;
  }
    .dropdown {  
        position: relative;
        
      }
      
      .button1{
        border:none;
        background-color: inherit;
        cursor:pointer;
        color: var(--white);
        font-size: inherit;
        
      }
    
      .button1:hover{
        background-color: none;
        color: #768e72 ;
      }
      

      .btnn{
        color:#999;
        background:rgba(0, 0, 0, 0.5);
        padding:10px 20px;
        font-size:12px;
        text-decoration:none;
        letter-spacing:2px;
        text-transform:uppercase;
      }
      
      .btnn:hover{
        border:none;
        background:rgba(0, 0, 0, 0.4);
        background:#fff;
        padding:20px 20px;
        color:#1b1b1b;
      }
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 400px;
        margin: auto;
        text-align: center;
        font-family: arial;
        background-color: #e6ebc7;
        border-radius: 15px;
      }
      .card h2{
       
        color: rgb(78, 77, 50);
      }
      .card p{
        text-align: left;
      }
      .price {
        color: rgb(53, 50, 50);
        font-size: 15px;
      }
      .card img{
        margin-right: 15px;;
      }
      .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #18361c;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
      }
      
      .card button:hover {
        opacity: 0.7;
      }
      .mar{
        margin-left: 70px;
      }
      /* Float three columns side by side */
.column {
  float: left;
  width: 30%;
  padding: 0 20px;
}

/* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.search {
  width: 100%;
  position: fixeds;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #050606;
  border-right: none;
  padding: 5px;
  height: 33px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  
}

.searchTerm:focus{
  color: #3e4343;
}

.searchButton {
  width: 25px;
  height: 33px;
  border: 1px solid #233f24;
  background: #030b02;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 20%;
  height: 50px;

   margin-left: 1100px;
  transform: translate(-50%, -50%);
}

