

[type=search] {
  
  outline-offset: -2px
}



/* End extract */
html,body {
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5
}




.w3-btn,.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.w3-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}



.w3-btn.w3-disabled:hover,.w3-btn:disabled:hover {
  box-shadow: none
}



.w3-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%
}



.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before, .w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after {
  content: "";
  display: table;
  clear: both
}

.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter {
  float: left;
  width: 100%
}



@media (min-width: 601px) {
  .w3-col.m1 {
      width:8.33333%
  }

  .w3-col.m2 {
      width: 16.66666%
  }

  .w3-col.m3,.w3-quarter {
      width: 24.99999%
  }

  .w3-col.m4,.w3-third {
      width: 33.33333%
  }




.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col {
  padding: 0 8px
}

.container {
  padding: 0.01em 16px;
  margin-top: 16px
}


.w3-button:hover {
  color: #000!important;
  background-color: #ccc!important
}
